.gameBoard {
  border: 1px solid silver;
  width: 50%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.start_game_btn {
  top: 10px;
}
.game_txt {
  margin: 20px;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.3);
}

.username_input {
  margin-top: 5px;
  background-color: rgba(0, 0, 0, 0.3);
}
